/* ================= WHAT WE DO ================= */
.what-we-do {
    padding: 80px 0;
    background: white;
}

.what-we-do h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.section-description {
    width: 60%;
    margin: 0 auto 60px;
    line-height: 1.6;
}

.icon-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icon-box {
    width: 22%;
}

.icon-box img {
    width: 60px;
    margin-bottom: 20px;
}

.icon-box h3 {
    margin-bottom: 10px;
}