/* ================= FOOTER ================= */
footer {
    background: #071629;
    padding: 40px 0;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons img {
    width: 26px;
    margin-left: 20px;
}

.footer-note {
    margin-top: 15px;
    font-size: 12px;
    opacity: 0.7;
}